
a {
  color: black;
  transition: 0.1s;
}

a:hover {
  color: blue;
}


h1 {
  font-size: 32px;
  text-align: center;
  color: black;
  transition: color 0.3s;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

h1.home-title:hover,
h1.aboutme-title:hover,
h1.contact-title:hover {
  color: red;
}



.nav-links {
  text-align: center;
  margin: 20px 0;
}

.nav-links a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 0 15px;
  padding: 5px 10px;
  border-right: 2px solid gray;
  border-radius: 6px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-links a:hover {
  color: white;
  background-color: #007BFF;
  border-color: #0056b3;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}



p {
  text-align: justify;
  margin-bottom: 15px;
}

blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid #aaa;
  padding-left: 10px;
  margin: 20px 0;
}



body.about-page main,
body.choosing-page main,
body.contact-page main {
  margin: 30px auto;
  padding: 20px;
  max-width: 900px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}



img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}



body.choosing-page {
  background: linear-gradient(to right, #1a1a40, #2e2e4f, #f5f5f5);
}

body.about-page {
  background: linear-gradient(to right, #1a1a40, #2e2e4f, #f5f5f5);
}

body.contact-page {
  background: linear-gradient(to right, #1a1a40, #2e2e4f, #f5f5f5);
}
